In [1]:
import pandas as pd
dta = pd.read_csv("dailyinmatesincustody.csv")

In [2]:
dta.head()

,INMATEID,ADMITTED_DT,DISCHARGED_DT,CUSTODY_LEVEL,BRADH,RACE,GENDER,AGE,INMATE_STATUS_CODE,SEALED,SRG_FLG,TOP_CHARGE,INFRACTION
0,20159382,2015-11-14T18:22:02,NaN,NaN,N,NaN,NaN,NaN,DE,N,N,NaN,N
1,20120917,2013-10-11T18:34:33,NaN,NaN,N,NaN,NaN,NaN,DE,N,N,NaN,N
2,20174220,2016-10-25T16:33:35,NaN,NaN,N,NaN,NaN,NaN,DE,N,N,NaN,N
3,20174619,2016-11-03T18:11:30,NaN,NaN,N,NaN,NaN,NaN,DE,N,N,NaN,N
4,20175929,2016-12-09T02:20:21,NaN,NaN,N,NaN,NaN,NaN,DE,N,N,NaN,N

In [3]:
dta.shape

(8225, 13)

In [4]:
dta = dta.dropna(subset = ["GENDER"])

In [5]:
dta.head()

,INMATEID,ADMITTED_DT,DISCHARGED_DT,CUSTODY_LEVEL,BRADH,RACE,GENDER,AGE,INMATE_STATUS_CODE,SEALED,SRG_FLG,TOP_CHARGE,INFRACTION
6,20173176,2016-09-28T21:02:59,NaN,MIN,Y,B,F,27.0,DE,N,N,125.15,Y
7,21999,2016-07-07T02:39:41,NaN,MAX,Y,O,M,30.0,DE,N,Y,220.77,Y
8,20170391,2016-07-25T12:40:01,NaN,MAX,Y,O,M,24.0,DE,N,N,110-125.27,Y
9,56220,2017-04-04T13:05:26,NaN,MIN,Y,B,M,42.0,DE,N,N,120.05,N
10,99982,2017-08-21T12:37:51,NaN,MED,Y,O,M,59.0,DE,N,N,130.50,N

In [6]:
dta.shape

(8202, 13)

In [7]:
dta.isnull().sum() #Gives us sum of all rows with NA #discovered this by mistake
dta["AGE"].isnull().sum() #sum of number of rows in Age column that is null

0

In [8]:
X = dta[["AGE", "GENDER"]]
y = dta["INFRACTION"]

In [9]:
X = pd.get_dummies(X) #new way of converting the gender column into dummy variables

In [10]:
X = X.drop(columns=["GENDER_M"])

In [11]:
y = pd.get_dummies(y)

In [12]:
y = y.drop(columns=["N"])

In [13]:
X = X.values
y = y.values

In [14]:
#K_Fold_Validation
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
dt_classifier = DecisionTreeClassifier(random_state = 1693, max_depth = 2, min_samples_leaf = 2)
dt_classifier.fit(X,y)
k_fold = cross_val_score(estimator = dt_classifier, X=X, y=y, cv=10, scoring = "accuracy")
#estimator - object being used to fit the data
#cv - how many folds
k_fold
k_fold.mean() #overall average accuracy

0.69738116802672223

In [15]:
from sklearn.model_selection import GridSearchCV

params = [{'max_depth':[10,15,20], 'min_samples_leaf':[2,4,6,8,10,12,14,16,18,20]}]
gSearch = GridSearchCV(estimator = dt_classifier, param_grid = params, scoring = "accuracy", cv=5)

In [16]:
gSearch_results = gSearch.fit(X,y)

In [17]:
gSearch_results.best_params_

{'max_depth': 10, 'min_samples_leaf': 16}

In [18]:
gSearch_results.best_score_

0.70446232626188732